<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.git.wechat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wechat">
        <activity android:name=".ui.activity.ChatingDetailActivity" />
        <activity
            android:name=".ui.activity.TabContactActivity"
            android:label="@string/title_activity_tab_contact"
            android:theme="@style/Theme.Wechat.NoActionBar" />
        <activity android:name=".test.TestLogingActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".ui.activity.OtherLoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.LoadingActivity" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>